<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/mia_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/Theme.MIA">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name="com.sil.receivers.ThoughtsAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sil.mia.THOUGHT_ALARM_RECEIVER_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.sil.receivers.RefreshAlarmReceiver"
            android:exported="false">
        </receiver>

        <service
            android:name="com.sil.services.AudioService"
            android:foregroundServiceType="microphone"
            android:label="Audio listening..." />

        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Setup"
            android:exported="false" />
        <activity
            android:name=".Permissions"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".DataDump"
            android:exported="false" />
        <activity
            android:name=".DataIndividual"
            android:exported="false" />
    </application>

</manifest>